﻿/*-----------------------------------------------------------------------------------

    Template Name: Appro Landing Page Template 
    Template URI: http://hastech.company/
    Description: This is html5 template
    Author: HasTech
    Author URI: http://http://Devitems.com/
    Version: 1.0
    Site : www.gfxtra10.com/user/Lenya


-----------------------------------------------------------------------------------
    
    CSS INDEX
    ===================
	
    1. Template default css
    2. Main menu
    3. Service area
    4. About area
    5. Feature area
    6. Video area 
    7. Download area
    8. Screenshot area
    9. Review area
    10. Pricing area
    11. Counter area
    12. Newsletter area
    13. Slider logo 
    14. Contact area
    15. Footer area
    16. Scrollup
    17. Youtube background


-----------------------------------------------------------------------------------*/
/*----------------------------------------*/
/*  1. Template default css
/*----------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Open+Sans:300,400,600,700,800');
html,
body {
    height: 100%;
    font-family: 'Open Sans', sans-serif;
}
.float-left {
    float: left
}
.float-right {
    float: right
}
.alignleft {
    float: left;
    margin-right: 15px;
    margin-bottom: 15px
}
.home-sliders.clearfix {
    position: relative;
    z-index: 99;
}
.alignright {
    float: right;
    margin-left: 15px;
    margin-bottom: 15px
}
.aligncenter {
    display: block;
    margin: 0 auto 15px
}
a:focus {
    outline: 0px solid
}
img {
    max-width: 100%;
    height: auto
}
.fix {
    overflow: hidden
}
p {
    color: #777;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 24px;
    margin: 0 0 15px;
}
p:last-child {
    margin-bottom: 0;
}
a:focus,
a:hover {
    text-decoration: none;
}
h1,
h2,
h4,
h5,
h6 {
    margin: 0 0 10px;
    font-family: 'Open Sans', sans-serif;
}
h3 {
    margin: 0 0 10px;
    font-family: 'Lato', sans-serif;
}
a {
    transition: all 0.3s ease 0s;
    text-decoration: none;
}
a:hover {
    text-decoration: none;
    color: #4a90e2;
}
a:active,
a:hover {
    outline: 0 none;
}
ul {
    list-style: outside none none;
    margin: 0;
    padding: 0
}
.clear {
    clear: both
}
body {
    background: #fff none repeat scroll 0 0;
    font-family: 'Open Sans', sans-serif;
}
.height-100vh {
    height: 100vh;
}
.table,
.table-cell {
    display: table;
    height: 100%;
}
.table-cell {
    display: table-cell;
    vertical-align: middle;
}
.relative {
    position: relative
}
/*colored background*/

.white-bg {
    background: #fff !important;
}
.gray-bg {
    background: #f6f6f6;
}
.bg-dark {
    background-color: #1e2127 !important;
}
.bg-dark-gray {
    background-color: #252830 !important;
}
.light-gray-bg {
    background: #f1f1f1 none repeat scroll 0 0;
}
/*colored text*/

.white-text {
    color: #fff;
}
.gray-text {
    color: #7a7a7a
}
.dp-gray-text {
    color: #535353
}
i {
    color: #666666;
    transition: all .3s ease 0s;
}
/*************************
  Basic margin padding
*************************/

.m-0 {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
}
.p-0 {
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
}
/*************************
Margin top
*************************/

.mt-0 {
    margin-top: 0
}
.mt-10 {
    margin-top: 10px
}
.mt-15 {
    margin-top: 15px
}
.mt-20 {
    margin-top: 20px
}
.mt-30 {
    margin-top: 30px
}
.mt-40 {
    margin-top: 40px
}
.mt-50 {
    margin-top: 50px
}
.mt-60 {
    margin-top: 60px
}
.mt-70 {
    margin-top: 70px
}
.mt-80 {
    margin-top: 80px
}
.mt-90 {
    margin-top: 90px
}
.mt-100 {
    margin-top: 100px
}
.mt-110 {
    margin-top: 110px
}
.mt-120 {
    margin-top: 120px
}
.mt-130 {
    margin-top: 130px
}
.mt-140 {
    margin-top: 140px
}
.mt-150 {
    margin-top: 150px
}
/*************************
      Margin right
*************************/

.mr-0 {
    margin-right: 0px
}
.mr-10 {
    margin-right: 10px
}
.mr-15 {
    margin-right: 15px
}
.mr-20 {
    margin-right: 20px
}
.mr-30 {
    margin-right: 30px
}
.mr-40 {
    margin-right: 40px
}
.mr-50 {
    margin-right: 50px
}
.mr-60 {
    margin-right: 60px
}
.mr-70 {
    margin-right: 70px
}
.mr-80 {
    margin-right: 80px
}
.mr-90 {
    margin-right: 90px
}
.mr-100 {
    margin-right: 100px
}
.mr-110 {
    margin-right: 110px
}
.mr-120 {
    margin-right: 120px
}
.mr-130 {
    margin-right: 130px
}
.mr-140 {
    margin-right: 140px
}
.mr-150 {
    margin-right: 150px
}
/*************************
      Margin bottom
*************************/

.mb-0 {
    margin-bottom: 0
}
.mb-10 {
    margin-bottom: 10px
}
.mb-15 {
    margin-bottom: 15px
}
.mb-20 {
    margin-bottom: 20px
}
.mb-30 {
    margin-bottom: 30px
}
.mb-40 {
    margin-bottom: 40px
}
.mb-50 {
    margin-bottom: 50px
}
.mb-60 {
    margin-bottom: 60px
}
.mb-70 {
    margin-bottom: 70px
}
.mb-80 {
    margin-bottom: 80px
}
.mb-90 {
    margin-bottom: 90px
}
.mb-100 {
    margin-bottom: 100px
}
.mb-110 {
    margin-bottom: 110px
}
.mb-120 {
    margin-bottom: 120px
}
.mb-130 {
    margin-bottom: 130px
}
.mb-140 {
    margin-bottom: 140px
}
.mb-150 {
    margin-bottom: 150px
}
/*************************
        Margin left
*************************/

.ml-0 {
    margin-left: 0
}
.ml-10 {
    margin-left: 10px
}
.ml-15 {
    margin-left: 15px
}
.ml-20 {
    margin-left: 20px
}
.ml-30 {
    margin-left: 30px
}
.ml-40 {
    margin-left: 40px
}
.ml-50 {
    margin-left: 50px
}
.ml-60 {
    margin-left: 60px
}
.ml-70 {
    margin-left: 70px
}
.ml-80 {
    margin-left: 80px
}
.ml-90 {
    margin-left: 90px
}
.ml-100 {
    margin-left: 100px
}
.ml-110 {
    margin-left: 110px
}
.ml-120 {
    margin-left: 120px
}
.ml-130 {
    margin-left: 130px
}
.ml-140 {
    margin-left: 140px
}
.ml-150 {
    margin-left: 150px
}
/*************************
        Padding top
*************************/

.pt-0 {
    padding-top: 0
}
.pt-10 {
    padding-top: 10px
}
.pt-15 {
    padding-top: 15px
}
.pt-20 {
    padding-top: 20px
}
.pt-30 {
    padding-top: 30px
}
.pt-40 {
    padding-top: 40px
}
.pt-50 {
    padding-top: 50px
}
.pt-60 {
    padding-top: 60px
}
.pt-70 {
    padding-top: 70px
}
.pt-80 {
    padding-top: 80px
}
.pt-90 {
    padding-top: 90px
}
.pt-100 {
    padding-top: 100px
}
.pt-110 {
    padding-top: 110px
}
.pt-120 {
    padding-top: 120px
}
.pt-130 {
    padding-top: 130px
}
.pt-140 {
    padding-top: 140px
}
.pt-150 {
    padding-top: 150px
}
/*************************
        Padding right
*************************/

.pr-0 {
    padding-right: 0
}
.pr-10 {
    padding-right: 10px
}
.pr-15 {
    padding-right: 15px
}
.pr-20 {
    padding-right: 20px
}
.pr-30 {
    padding-right: 30px
}
.pr-40 {
    padding-right: 40px
}
.pr-50 {
    padding-right: 50px
}
.pr-60 {
    padding-right: 60px
}
.pr-70 {
    padding-right: 70px
}
.pr-80 {
    padding-right: 80px
}
.pr-90 {
    padding-right: 90px
}
.pr-100 {
    padding-right: 100px
}
.pr-110 {
    padding-right: 110px
}
.pr-120 {
    padding-right: 120px
}
.pr-130 {
    padding-right: 130px
}
.pr-140 {
    padding-right: 140px
}
/*************************
        Padding bottom
*************************/

.pb-0 {
    padding-bottom: 0
}
.pb-10 {
    padding-bottom: 10px
}
.pb-15 {
    padding-bottom: 15px
}
.pb-20 {
    padding-bottom: 20px
}
.pb-30 {
    padding-bottom: 30px
}
.pb-40 {
    padding-bottom: 40px
}
.pb-50 {
    padding-bottom: 50px
}
.pb-60 {
    padding-bottom: 60px
}
.pb-70 {
    padding-bottom: 70px
}
.pb-80 {
    padding-bottom: 80px
}
.pb-90 {
    padding-bottom: 90px
}
.pt-95 {
    padding-top: 95px
}
.pb-100 {
    padding-bottom: 100px
}
.pb-110 {
    padding-bottom: 110px
}
.pb-120 {
    padding-bottom: 120px
}
.pb-130 {
    padding-bottom: 130px
}
.pb-140 {
    padding-bottom: 140px
}
.pb-150 {
    padding-bottom: 150px
}
/*************************
        Padding left
*************************/

.pl-0 {
    padding-left: 0
}
.pl-10 {
    padding-left: 10px
}
.pl-15 {
    padding-left: 15px
}
.pl-20 {
    padding-left: 20px
}
.pl-30 {
    padding-left: 30px
}
.pl-40 {
    padding-left: 40px
}
.pl-50 {
    padding-left: 50px
}
.pl-60 {
    padding-left: 60px
}
.pl-70 {
    padding-left: 70px
}
.pl-80 {
    padding-left: 80px
}
.pl-90 {
    padding-left: 90px
}
.pl-100 {
    padding-left: 100px
}
.pl-110 {
    padding-left: 110px
}
.pl-120 {
    padding-left: 120px
}
.pl-130 {
    padding-left: 130px
}
.pl-140 {
    padding-left: 140px
}
.pl-150 {
    padding-left: 150px
}
/***************************
    Page section padding 
****************************/

.ptb-0 {
    padding: 0
}
.ptb-10 {
    padding: 10px 0
}
.ptb-20 {
    padding: 20px 0
}
.ptb-30 {
    padding: 30px 0
}
.ptb-40 {
    padding: 40px 0
}
.ptb-50 {
    padding: 50px 0
}
.ptb-60 {
    padding: 60px 0
}
.ptb-70 {
    padding: 70px 0
}
.ptb-80 {
    padding: 80px 0
}
.ptb-90 {
    padding: 90px 0
}
.ptb-100 {
    padding: 100px 0
}
.ptb-110 {
    padding: 110px 0
}
.ptb-120 {
    padding: 120px 0
}
.ptb-130 {
    padding: 130px 0
}
.ptb-140 {
    padding: 140px 0
}
.ptb-150 {
    padding: 150px 0
}
.ptb-200 {
    padding: 200px 0
}
/*************************
    Margin top
*************************/

.mt-0 {
    margin-top: 0
}
.mb-52 {
    margin-bottom: 52px
}
.ht-pt {
    padding: 8px 0 14px;
}
/*----------------------
	2. Main menu
------------------------*/

#home-area .table {
    margin-bottom: 0;
}
.logo h2 {
    color: #fff;
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 0;
    text-transform: uppercase;
}
.logo.footer-logo h2 {
    color: #2727c1;
}
.logo a {
    height: inherit;
}
#main-menu.stick {
    background-color: #4a90e2;
    border-bottom: 1px solid #4a90e2;
    padding: 20px 0;
    position: fixed;
    top: 0;
}
.main-menu li {
    display: inline-block;
    padding-left: 27px;
}
.main-menu li a {
    color: #ffffff;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
    position: relative;
    font-family: 'Lato', sans-serif;
}
.main-menu {
  padding-top: 4px;
}
.stick .main-menu{
  padding-top: 5px;
}
.main-menu.navbar-collapse {
    padding-left: 0;
    padding-right: 0;
}
#main-menu {
    border-bottom: 1px solid #747474;
    left: 0;
    padding: 35px 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: all 0.5s ease 0s;
    z-index: 9999;
}
.main-menu.float-right li:first-child {
    padding-left: 0;
}
.main-menu nav ul li a::before {
    background: #ffffff none repeat scroll 0 0;
    bottom: -5px;
    content: "";
    height: 1px;
    left: 0;
    position: absolute;
    transform: scale(0);
    width: 15px;
    transition: all 0.3s ease 0s;
}
.main-menu nav ul li.active a::before,
.main-menu nav ul li a:hover::before {
    transform: scale(1);
}
.main-slider-area {
  padding-top: 100px;
}
/*-- Navbar Toggle --*/

.navbar-toggle {
    width: 40px;
    height: 40px;
    background-color: #fff;
    color: #333;
    border-radius: 0;
    padding: 0;
    text-align: center;
    border: none;
    margin: 0;
}
.navbar-toggle i {
    display: block;
    font-size: 26px;
    line-height: 40px;
}
.navbar-toggle i.menu-open {
    display: none;
}
.navbar-toggle.collapsed .menu-open {
    display: block;
}
.navbar-toggle.collapsed .menu-close {
    display: none;
}
.navbar-brand {
    float: left;
    padding: 0;
}
.bg-img-1 {
    background: url("img/bg-img/bg-1.jpg") no-repeat scroll center bottom / cover;
}
.bg-oapcity-40 {
    position: relative;
}
.bg-oapcity-40::before {
    background-color: #000;
    bottom: 0;
    content: "";
    left: 0;
    opacity: 0.6;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
}
.slider-text h1 {
    color: #ffffff;
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 10px;
    text-transform: capitalize;
}
.slider-text h2 {
    color: #ffffff;
    font-size: 70px;
    font-weight: 300;
    line-height: 95px;
    margin: 0 0 6px;
    text-transform: capitalize;
}
.slider-text h2 span b {
    color: #ffffff;
    font-size: 70px;
    font-weight: 300;
}
.slider-active .slider-text h2 {
  font-size: 55px;
}
.slider-text h2 span {
    padding: 0;
}
.cd-headline.clip span {
    padding: 0;
}
.slider-text p {
    color: #ffffff;
    font-size: 18px;
    font-weight: 300;
}
.slider-active-fix {
    background-position: center center;
    background-size: cover;
}
a.button {
  background-color: #4a90e2;
  border: 1px solid #4a90e2;
  border-radius: 3px;
  color: #fff;
  display: inline-block;
  font-family: "Lato",sans-serif;
  font-size: 12px;
  font-weight: bold;
  padding: 11px 42px 11px;
  position: relative;
  text-transform: uppercase;
  transition: all 0.3s ease 0s;
}
.button-set a {
    margin-right: 20px;
}
a.button.active {
    margin-right: 30px;
}
a.button:hover,
a.button.active {
    background: none;
    border-color: #fff;
    transition: all 0.3s ease 0s;
    color: #fff;
}
a.button.active:hover {
    background-color: #4a90e2;
    border: 1px solid #4a90e2;
    border-radius: 3px;
    color: #fff;
}
.button-set {
    margin-top: 42px;
}
.owl-theme .owl-controls {
    margin-top: 0;
    text-align: center;
    position: absolute;
    bottom: 50px;
    display: inline-block;
    width: 100%;
}
.owl-theme .owl-controls .owl-page span {
    background: #fff none repeat scroll 0 0;
    opacity: 1;
}
.owl-theme .owl-controls .owl-page.active span {
    background: #4a90e2 none repeat scroll 0 0;
    opacity: 1;
}
.slider-imgj > img {
  float: right;
}
.home-sliders {
  padding: 92px 0;
}

/*----------------------
	3. Service area
------------------------*/






.single-item {
    border: 1px solid #d9d9d9;
    border-radius: 10px;
    padding: 60px 20px 53px;
    transition: all 0.3s ease 0s;
}
.single-item-icon i {
    color: #686868;
    font-size: 36px;
    transition: all 0.3s ease 0s;
}
.single-item h3 {
    color: #686868;
    font-size: 14px;
    font-weight: bold;
    margin: 9px 0 -1px;
    text-transform: uppercase;
}
/*----------------------
	4. About area
------------------------*/

.about-bottom-left > h2 {
  color: #5f5f5f;
  font-size: 36px;
  font-weight: normal;
  line-height: 50px;
  margin-bottom: 13px;
  text-transform: capitalize;
  line-height: 1;
}
.all-about .about-bottom-left {
  padding-top: 32px;
}
.about-bottom-left > h1 span {
    font-weight: bold;
}
.about-bottom-left > h3 {
    color: #666666;
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 24px;
}
.about-icon li {
    display: inline-block;
    float: left;
    padding-right: 30px;
}
.about-icon li a {
    color: #666666;
    font-size: 22px;
    line-height: 0;
}
.about-icon li a i:hover {
    color: #4a90e2;
}
p.about-pb {
    padding-bottom: 17px;
}
.about-bottom-left > p {
    color: #777;
    font-size: 16px;
    padding-right: 47px;
}
.pricing-mrg.about-bottom-left > p {
  padding-right: 0;
}
.about-bottom-left.screenshort-mrg > p {
    color: #7c7c7c;
}
.about-icon {
    display: block;
    margin-top: 29px;
}
.awesome-desc .about-bottom-left {
  margin-top: 112px;
}
.about-icon a.button:hover {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border-color: #5f5f5f;
    color: #5f5f5f;
    transition: all 0.3s ease 0s;
}
/*----------------------
	5. Feature area
------------------------*/

.title-style > h1 {
    color: #535353;
    font-size: 36px;
    font-weight: normal;
    line-height: 30px;
    margin-bottom: 17px;
    text-transform: uppercase;
}
.title-style > h1 span {
    font-weight: bold;
}
.title-style > p {
    padding: 0 232px;
}
.feature-list-icon {
    background: #f5f5f5 none repeat scroll 0 0;
    border-radius: 50%;
    height: 70px;
    line-height: 81px;
    text-align: center;
    transition: all 0.3s ease 0s;
    width: 70px;
}
.single-features-list:hover .feature-list-icon {
    background: #4a90e2;
}
.single-features-list:hover .feature-list-icon i {
    color: #fff
}
.featured-left .feature-list-icon {
    float: right;
}
.featured-right .feature-list-icon {
    float: left;
}
.feature-list-icon i {
    color: #4a90e2;
    font-size: 28px;
    text-align: center;
    transition: all 0.3s ease 0s;
}
.feature-list-text > h3,
.feature-list-text2 > h3 {
    color: #5f5f5f;
    font-size: 20px;
    margin-bottom: 14px;
    margin-top: 20px;
}
.featured-left .feature-list-text {
  margin-right: 92px;
}
.featured-right .feature-list-text {
  margin-left: 92px;
}
.single-features-list {
    margin-bottom: 50px;
}
.title-pb {
    padding-bottom: 74px;
}
.title-pb5 {
    padding-bottom: 90px;
}
.title-pb4 {
    padding-bottom: 68px;
}
.title-pb3 {
    padding-bottom: 64px;
}
.title-pb2 {
    padding-bottom: 78px;
}
.feature-top {
    padding-top: 79px;
}
.feature-list-text2 {
    padding-left: 110px;
    padding-right: 100px;
}
/*----------------------
	Choose area
------------------------*/

.choose-img > img {} .choose-area .feature-list-text2 {
    overflow: hidden;
    padding-left: 30px;
    padding-right: 0;
}
.choose-area .feature-list {
    margin-left: -30px;
}
/*----------------------
	6. Video area 
------------------------*/
.about-bottom-img > img {
  width: 100%;
}
.video-img-icon {
    position: relative;
}
.video-img-icon::before {
    background: rgba(90, 90, 90, 0.7) none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.video-icon {
    display: inline-block;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.3s ease 0s;
    width: 100%;
    z-index: 99;
}
.bg-img-2 {
    background: rgba(0, 0, 0, 0) url("img/video/1.jpg") no-repeat scroll center center / cover;
}
.video-popup {
    background-color: #fff;
    border-radius: 50px;
    display: inline-block;
    height: 54px;
    line-height: 54px;
    margin: 0 auto;
    text-align: center;
    width: 54px;
}
.video-icon > h3 {
    color: #fff;
    margin-bottom: 25px;
}
.video-popup i {
    color: #686868;
    font-size: 26px;
    padding-left: 3px;
}
.overlay::before {
    background: #34173f;
    background: -moz-linear-gradient(45deg, #34173f 29%, #2727c1 99%);
    background: -webkit-linear-gradient(45deg, #34173f 29%, #2727c1 99%);
    background: linear-gradient(45deg, #34173f 29%, #2727c1 99%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#34173f', endColorstr='#2727c1', GradientType=1);
    bottom: 0;
    content: "";
    left: 0;
    opacity: 0.8;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}
.bg-color {} .overlay {
    position: relative;
    z-index: 1;
}
.video-popup:hover {
    background-color: #4a90e2;
}
.video-popup:hover i {
    color: #fff;
}
/*----------------------
	7. Download area
------------------------*/

.bg-2 {
    background: rgba(0, 0, 0, 0) url("img/bg-img/bg-2.jpg") no-repeat scroll center bottom / cover;
}
.bg-img-4 {
    background: rgba(0, 0, 0, 0) url("img/bg-img/bg-6.jpg") no-repeat scroll center center / cover;
}
.download-mrg {
    position: relative;
    z-index: 999;
    margin-bottom: 70px;
}
.about-bottom-left.download-mrg > h2 {
    color: #fff;
}
.download-mrg.about-bottom-left > p {
    color: #fff;
    padding-right: 0px;
}
a.download {
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #ffffff;
    border-radius: 5px;
    display: inline-block;
    height: 85px;
    padding: 14px 35px 14px 86px;
    position: relative;
    transition: all 0.3s ease 0s;
}
a.download.active,
a.download:hover {
    background-color: #4a90e2;
    border: 1px solid #4a90e2;
}
a.download.active:hover {
    background-color: transparent;
    border: 1px solid #fff;
}
.download i {
    color: #ffffff;
    float: left;
    font-size: 46px;
    left: 30px;
    position: absolute;
    top: 18px;
    transition: all 0.3s ease 0s;
}
.download span {
    color: #ffffff;
    display: block;
    font-family: "Lato", sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 26px;
    text-align: left;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
}
.download span.large-text-2 {
    display: block !important;
    font-size: 26px;
    font-weight: 600;
    position: relative;
    text-transform: capitalize;
    top: -2px;
    transition: all 0.3s ease 0s;
}
a.download.active {
    margin-right: 30px;
}
/*----  Question area  ---*/

.question-area .panel-group {
    margin-bottom: 0;
}
.sauget-accordion .panel-heading {
    border: medium none;
    border-radius: 0;
    padding: 0;
}
.sauget-accordion .panel-heading h4 a {
    background: rgba(0, 0, 0, 0) linear-gradient(45deg, #34173f 29%, #2727c1 99%) repeat scroll 0 0;
    border-radius: 5px;
    color: #fff;
    display: block;
    font-size: 16px;
    font-weight: 600;
    line-height: 16px;
    padding: 18px 0 18px 67px;
    position: relative;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.35);
}
.sauget-accordion .panel-heading h4 a.collapsed {
    background: #f1f1f1;
    color: #666;
    display: block;
    font-size: 16px;
    font-weight: 600;
    line-height: 16px;
    padding: 18px 0 18px 67px;
    box-shadow: none;
}
.panel-group .panel + .panel {
    margin-top: 10px;
}
.panel {
    border: none;
    box-shadow: none;
}
.panel-body {
    border: medium none !important;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
    padding: 23px 30px 25px;
}
.panel.sauget-accordion {
    margin-right: 83px;
}
.faq-accordion .panel-title a.collapsed::before,
.faq-accordion .panel-title a::before {
    background-color: #fff;
    border-radius: 100%;
    color: #808080;
    content: "";
    font-family: Material-Design-Iconic-Font;
    font-size: 16px;
    height: 27px;
    left: 30px;
    line-height: 28px;
    position: absolute;
    text-align: center;
    top: 13px;
    width: 27px;
}
.faq-accordion .active .panel-title a.collapsed::before {
    background-color: #fff;
    content: "\f273";
}
.faq-accordion .panel-title a::before {
    background-color: #fff;
    content: "\f273";
}
/*----------------------
	8. Screenshot area
------------------------*/
.awesome-desc {
  position: absolute;
}
.screenshot-slider {
  position: relative;
  z-index: 9;
}
.awesome-desc .about-bottom-left > p {
  padding-right: 258px;
  font-size: 16px;
}
.about-bottom-left.screenshort-mrg {
  margin-top: 67px;
  padding-left: 48px;
}  
.single-screenshot .image a {
    display: block;
    position: relative;
}
.slick-slide img {
    display: block;
    width: 100%;
}
.slick-dots li {
    display: inline-block;
    margin: 0 5px;
}
.slick-dots {
    display: block;
    line-height: 7px;
    margin-top: 20px;
    padding-left: 15px;
}
.slider-2 .slick-dots {
    margin-top: 0;
}
.slick-dots li button {
    background-color: #4a90e2;
    border-radius: 50px;
    height: 10px;
    width: 10px;
    padding: 0;
    text-indent: -999999px;
    border: medium none rgba(0, 0, 0, 0);
}
.slick-dots li.slick-active button {
    background-color: transparent;
    border: 3px solid #4a90e2;
    height: 15px;
    width: 15px;
}
.screenshot-slider .single-screenshot {
  padding-left: 21px;
}
.screenshot-slider .single-screenshot:last-child {
  padding-left: 0px;
}
/*----------------------
	9. Review area
------------------------*/

.team-image > img {
    display: inline;
    height: 83px;
    width: 83px;
}
.team-details > h2 {
    color: #777777;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
    text-transform: capitalize;
}
.reating-icon i {
    color: #f1c30d;
    font-size: 13px;
    margin: 0 2px;
}
.team-social > p {
    color: #777;
    font-size: 14px;
}
.team-social {
    margin-top: 20px;
    margin-bottom: 20px;
}
.test-icon i {
    color: #eeeeee;
    font-size: 60px;
}
/*----------------------
	12. blog area
------------------------*/

.blog-img {
    display: inline-block;
    float: left;
}
.about-bottom-left.blog-mrg {
    margin-bottom: 80px;
}
.blog-text > span {
    color: #606060;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
}
.blog-text > h4 {
    color: #666666;
    font-size: 18px;
    font-weight: 600;
    padding: 9px 0;
}
.blog-text > h4 a {
    color: #666666;
    transition: all 0.3s ease 0s;
}
.blog-text > h4 a:hover {
    color: #4a90e2;
}
.blog-text > p {
    color: #777;
    margin-bottom: 14px;
}
.blog-text > a {
    color: #666;
    font-size: 12px;
    font-weight: bold;
    font-family: "Lato", sans-serif;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
}
.blog-text > a:hover,
.blog-text > a:hover i {
    color: #4a90e2;
}
.blog-text > a i {
    color: #666;
    padding-left: 5px;
}
.blog-text {
    border: 1px solid #ececec;
    padding: 32px 11px 34px 310px;
}
.about-bottom-left.blog-mrg > p {
    padding-right: 0;
}
/*----------------------
	10. Pricing area
------------------------*/

.about-bottom-left.pricing-mrg {
    margin-bottom: 80px;
    margin-top: 0;
}
.single-price-package {
    background-color: #ffffff;
    border: 1px solid #e8e8e8;
    padding: 60px 50px;
    text-align: center;
}
.price-title > h3 {
    color: #4a4a4a;
    display: inline-block;
    font-size: 16px;
    font-weight: normal;
    line-height: 19px;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
}
.price .text-top {
    color: #4e4e4e;
    font-size: 26px;
    padding-right: 0;
    position: relative;
    top: -17px;
}
.price h4 span.text-large {
    color: #4e4e4e;
    font-size: 50px;
    font-weight: normal;
    transition: all 0.3s ease 0s;
}
.price {
    border-bottom: 1px solid #e9e9e9;
    margin-bottom: 30px;
    padding: 39px 0 14px;
    position: relative;
    transition: all 0.3s ease 0s;
    z-index: 2;
}
.pricing-area .price > p {
    bottom: -6px;
    left: 6px;
    position: relative;
}
.price-list {
    padding-top: 28px;
}
.price-list li {
    color: #767676;
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 15px;
    font-family: 'Lato', sans-serif;
}
.price-list li:last-child {
    border: 0;
}
.price-list > ul {
    padding-bottom: 55px;
}
.price-btn .button {
    background-color: transparent;
    border: 1px solid #d1d1d1;
    border-radius: 5px;
    color: #616161;
    display: inline-block;
    font-family: "Lato", sans-serif;
    font-size: 12px;
    font-weight: bold;
    padding: 10px 55px 11px;
    position: relative;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
}
.price-btn .button:hover,
.price-btn .button.active {
    background-color: #4a90e2;
    border: 1px solid #4a90e2;
    color: #fff;
}
.price-btn .button.active:hover {
    background-color: transparent;
    border: 1px solid #616161;
    color: #616161;
}
/*----------------------
	11. Counter area
------------------------*/

.funfact-count h3 {
    color: #5f5f5f;
    font-family: lato;
    font-weight: 400;
    margin: 15px 0;
}
.funfact-count h5 {
    color: #5f5f5f;
    font-size: 20px;
    font-weight: 600;
    margin: 0;
}
.funfact-img {
    font-size: 35px;
}
.funfact-img i {
    color: #4a90e2;
}
/*----------------------
	12. Newsletter area
------------------------*/

.newsletter-area.bg-oapcity-40::before {
    background: #000000 none repeat scroll 0 0;
}
.subscribe-form form input {
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #eee;
    color: #ffffff;
    font-size: 13px;
    padding: 11px 61px 11px 20px;
    width: 100%;
}
.subscribe-form form button {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: transparent;
    border-color: currentcolor currentcolor currentcolor #fff;
    border-image: none;
    border-style: none none none solid;
    border-width: medium medium medium 1px;
    font-size: 24px;
    height: 42px;
    line-height: 40px;
    padding: 0;
    position: absolute;
    right: 15px;
    text-transform: uppercase;
    top: 0;
    width: 60px;
    transition: all .3s ease 0s;
}
.subscribe-form form button i {
    color: #fff;
    transition: all .3s ease 0s;
}
.subscribe-form form button:hover {
    background-color: #4a90e2;
    border-left: #4a90e2;
}
.subscribe-form input::-webkit-input-placeholder {
    /* Chrome */
    
    color: #fff;
    opacity: 1;
}
.subscribe-form input::-moz-placeholder {
    /* Firefox 19+ */
    
    color: #ddd;
    opacity: 1;
}
.mailchimp-error,
.mailchimp-error a,
.mailchimp-submitting,
.mailchimp-success {
    color: #ffffff;
}
/*----------------------
	13. Slider logo
------------------------*/

.single-item2 > a img {
    border: 1px solid #f3f3f3;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 30px 20px;
    transition: all 0.3s ease 0s;
}
.single-item2 > a img:hover {
    border: 1px solid #4a90e2;
}
/*----------------------
	14. Contact area
------------------------*/

#hastech {
    height: 600px;
    width: 100%;
}
.map-area {
    position: relative;
}
.map-contact {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}
.contact-from input {
    background-color: #fff;
    border: none;
    color: #aaaaaa;
    font-size: 14px;
    font-weight: normal;
    margin-bottom: 18px;
    padding: 16px 20px;
    width: 100%;
    transition: all .3s ease 0s;
}
.contact-from textarea {
    background-color: #fff;
    border: none;
    color: #aaaaaa;
    font-size: 14px;
    font-weight: normal;
    height: 100px;
    padding: 16px 20px;
    width: 100%;
    transition: all .3s ease 0s;
}
button.submit {
    margin-bottom: 0;
    margin-top: 20px;
    transition: all 0.3s ease 0s;
    background-color: #4a90e2;
    border: 1px solid #4a90e2;
    color: #fff;
    padding: 16px 20px;
    width: 100%;
}
button.submit:hover {
    background: transparent;
    color: #666;
}
.contact-from {
    padding: 50px;
}
.conatct-info {
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 52px 0;
}
.contact-icon {
    border-radius: 5px;
    display: inline-table;
    height: 54px;
    margin-right: 18px;
    text-align: center;
    transition: all 0.3s ease 0s;
    width: 54px;
    border: 1px solid #f3f3f3;
}
.contact-icon i {
    color: #666666;
    display: table-cell;
    font-size: 30px;
    vertical-align: middle;
}
.contact-text {
    display: inline-block;
}
.contact-text > span {
    color: #7a7a7a;
    font-size: 14px;
    font-weight: normal;
    line-height: 22px;
}
.contact-text > span a {
    color: #7a7a7a;
    font-size: 14px;
    font-weight: normal;
    line-height: 22px;
}
.contact-text > span a:hover {
    color: #4a90e2;
}
.contact-from input::-webkit-input-placeholder {
    /* Chrome */
    
    color: #aaaaaa;
    opacity: 1;
}
.contact-from input::-moz-placeholder {
    /* Firefox 19+ */
    
    color: #aaaaaa;
    opacity: 1;
}
.contact-from textarea::-webkit-input-placeholder {
    /* Chrome */
    
    color: #aaaaaa;
    opacity: 1;
}
.contact-from textarea::-moz-placeholder {
    /* Firefox 19+ */
    
    color: #aaaaaa;
    opacity: 1;
}
.contact-from input:focus,
.contact-from textarea:focus {
    border-color: #4a90e2;
    box-shadow: inherit;
    outline: 0 none;
}
.single-contact-info:hover .contact-icon {
    background: #4a90e2;
    background-color: #4a90e2;
}
.single-contact-info:hover .contact-icon i {
    color: #fff;
}
/*----------------------
	15. Footer area
------------------------*/

.footer-icon li {
    display: inline-block;
}
.footer-icon a {
    color: #9c9c9c;
    font-size: 16px;
    transition: all 0.3s ease 0s;
    margin: 14px;
}
.footer-icon a:hover {
    transition: all 0.3s ease 0s;
    color: #4a90e2;
}
.footer-icon a:hover i {
    color: #4a90e2;
}
.footer-icon {
    border-bottom: 1px solid #ececec;
    display: inline-block;
    padding: 25px 0 56px;
}
.footer-text span {
    color: #777;
    font-size: 14px;
    font-weight: normal;
    text-transform: capitalize;
}
.footer-text span a {
    color: #777;
    transition: all 0.3s ease 0s;
    font-weight: 600;
}
.footer-text span a:hover {
    text-decoration: underline;
    color: #4a90e2;
}
.footer-icon > p {
    color: #7e7e7e;
    margin-bottom: 19px;
}
.footer-text {
    padding: 24px 0;
}
/*............. 16. Scrollup   ................*/

#toTop {
    text-align: center;
    bottom: 35px;
    cursor: pointer;
    display: none;
    position: fixed;
    right: 12px;
    z-index: 9999;
}
#toTop i {
    background-color: #7f7f7f;
    height: 40px;
    width: 40px;
    color: #fff;
    line-height: 40px;
}
#toTop i:hover {
    background: #4a90e2;
    color: #fff;
}
/*------- 17. Youtube background ------------*/

.youtube-bg .home-slider {
    z-index: 999;
    position: relative;
}
.youtube-bg.bg-oapcity-40::before {
    z-index: 9;
}
.mfp-wrap {
  z-index: 999999;
}